body, html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
    text-align: justify; 
    margin: 0px;
    margin-bottom: 12px;
    color: white;
    background-image: url('../../media/background-image-black-450.png');
}

section {
    margin: auto;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

#output {
    max-width: 825px;
    max-height: max-content;
    border: 0.3px solid gray;
    border-radius: 2px;
    display: block;
    background-color: #232323;
    margin-left: 10px;
}

footer {
    margin-bottom: 60px;
    margin-top: 20px;
    font-size: 12pt;
    text-align: center;
    color: gray;
}

#bar {
    width: auto;
    height: auto;
    font-size: 18pt;
    background-color: #232323;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    box-shadow: 0px 0.3px 0px rgb(114, 114, 114);
}

div#bar-header {
    text-align: center;
    line-height: 50px;
}

div#bar-header p, div#bar-header a {
    margin: 0;
    display: inline;
    color: white;
}

.btn {
    width: 150px;
    height: 40px;
    background-color: blueviolet;
    border: 0.3px solid gray;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

input#txtpal {
    height: 33px;
    font-size: 13pt;
}

@media (max-width: 1200px) {
    .topico {
        max-width: 800px;
    }
    #output {
        max-width: 670px;
    }
}

@media (max-width: 1100px) {
    section {
        display: block;
    }
    .topico {
        max-width: 700px;
    }
    #output {
        margin: auto;
    }
}


@media (max-width: 540px) {
    body, #bar {
        font-size: 13pt;
    }
    footer {
        font-size: 12pt;
    }
}

@media (max-width: 480px) {
    body, #bar{
        font-size: 12pt;
    }
    .cabe-topico {
        display: block;
    }
}

@media (max-width: 400px) {
    input#txtpal, #adiv-numero .btn {
        margin-top: 7px;
        text-align: center;
    }
    footer {
        font-size: 10pt;
    }
}