body, html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18pt;
    text-align: justify; 
    margin: 0px;
    margin-bottom: 12px;
    height: 100%;
    width: 100%;
    color: white;
    background-image: url('../../media/background-image-black-450.png');
}

section {
    width: 480px;
    margin-left: auto; margin-right: auto;
}

#output {
    padding: 20px;
    border: 2px solid rgb(143, 58, 177);
    border-radius: 2px;
}

footer {
    margin-bottom: 60px;
    margin-top: 20px;
    font-size: 12pt;
    text-align: center;
    color: gray;
}

#bar {
    width: auto;
    height: auto;
    font-size: 18pt;
    background-color: #232323;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    box-shadow: 0px 0.3px 0px rgb(114, 114, 114);
}

div#bar-header {
    text-align: center;
    line-height: 50px;
}

div#bar-header p {
    margin: 0;
    display: inline;
}

@media (max-width: 540px) {
    #bar {
        border-bottom-right-radius: 5px;
        position: fixed;
        top: 0;
        left: 0;
    }
    section {
        margin-top: 60px;
        width: 420px;
    }
    body {
        font-size: 17pt;
    }
}

@media (max-width: 480px) {
    section {
        width: 360px;
    }
    body {
        font-size: 16pt;
    }
}

@media (max-width: 440px) {
    section {
        width: 340px;
    }
    body {
        font-size: 12pt;
    }
}

@media (max-width: 380px) {
    section {
        width: 280px;
    }
    body {
        font-size: 12pt;
    }
}